body {
    font-family: 'Segoe UI', sans-serif;
    background: #f7f8fa;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-container {
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    width: 350px;
    text-align: center;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    padding: 12px 24px;
    background-color: #4caf50;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: rgb(255,0,0);
}

a {
    color: #4caf50;
    text-decoration: none;
}
